header {
    background-color: #186F65;
}

.btn-order {
    background-color: #B2533E;
    color: white;
    font-weight: bold;
}

footer {
    background-color: #B5CB99;
}


/*
Paleta
https://colorhunt.co/palette/186f65b5cb99fce09bb2533e
*/