header, footer {
    background-color: #186F65;
}

p {
    font-size: 1.3rem;
}

.btn-order {
    background-color: #B2533E;
    color: white;
    font-weight: 600;
}

.carousel-item {
    width: 100%;
    height: 90vh;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-caption h1, .carousel-caption p {
    text-shadow: 1px 1px gray;
}

.img-container {
    padding: 0;
    height: 55vh;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-container-left {
    background-color: #FFFCE7;
}

.card-container-left h2, .card-container-left p {
    color: #186F65;
}

.card-container-right {
    background-color: #2B8D6F;
}

.card-container-right h2, .card-container-right p {
    color: whitesmoke;
}